<div class="main-left">
<検索フォーム>
</div>

<div class="main-right" id='map'>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2Vngw1pxY88Z23rk1Sh9mehYv69ucFNY&callback=initMap" ></script>
</div>